.Footer{
    margin-top:50px;
    padding:20px;
    height:500px;
    /* border:1px solid red; */
}

.subscribe {
    font-size:150%;
    font-family:"Duru Sans";
    color:black;
    font-weight: lighter;
    margin:20px 0px;
}
.GetUpdates{
    font-family:'Lora';
    font-size: 80%;
    color:rgb(89, 89, 122);
    margin-bottom:30px;
}
.socialWrapper1{
    /* border:1px solid red; */
    display:flex;
    justify-content: center;
    padding:30px;
}
.input-email{
    border-style: line;
    /* background-color: red; */
    font-family: "Lora";
    height:40px;
    border:1px soild rgb(158, 158, 158);
    padding:10px;
    /* opacity:.7; */
}
.sign-up-button{
    height:40px;
    background-color: black;
    font-family: 'Playfair Display';
    color:rgb(212, 212, 212);
    border-style: none;
}

.photo-wrapper{
    height:15vw;
    width:15vw;
    /* border:2px dotted green; */
    overflow: hidden;
    display:flex;
    justify-content: center;
    margin:auto;
    

}

.FooterImg{
    height:100%;
    width:auto;
    /* border:1px solid red; */

}

.portrait{
    height:auto;
    width:100%;
    align-self:center;

}
.footerImages{
    display:grid;
    width:100%;
    /* border:1px dotted rebeccapurple; */
    grid-template-columns: repeat(5,1fr);
    grid-row-gap: 20px;
    
}

.bottomNav{
    /* border:1px solid green; */
    text-decoration: none;
    display:flex;
    justify-content: space-around;
    padding:50px 20px;
    font-family: "Duru Sans";
    /* opacity:.5; */
    /* color:red; */
    /* background-color: red; */
    /* font-weight: bold; */
    flex-wrap:wrap;
}
.bottomNav>a p{
    color: black;
    opacity:.5;
}