@import url('https://fonts.googleapis.com/css?family=Duru+Sans|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lora');

.sideNav-wrapper{
    position: absolute;
    /* top:-16px; */
    width:85%;
    max-width:850px;
    /* border:1px solid rebeccapurple; */
    height:100%;
    
}
.Link{
    font-family:'Quicksand';
    font-size:170%;
    font-weight:100;
}
.links-wrapper{
    /* border:1px solid seagreen; */
    border-right:1px solid black;
    float:left;
    width:56%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:white;
}

.welcome-wrapper{
    /* border:1px solid yellow; */
    float:right;
    width:44%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-right:1px solid black;
    background-color: white;
}
.sideNav-media{
    border:2px dashed blue;
    margin-top:40px;
    display:flex;
    justify-content: center;
}
.welcome-wrapped{
    border:3px dotted orange;
    height:80%;
    width:50%;
}
.sideNav-welcome-img{
    width:80%;
    height:auto;
}
#hey{
    margin-top:30px;
}
#welcome{
    font-family:'Lora';
    font-size:115%;
    margin-top:30px;
    letter-spacing:3px;
}

.Close{
    position: absolute;
    /* left:50px; */
    align-self: left;
    top:5rem;
    left:5rem;
    cursor:pointer;
    /* border:1px solid black; */
}
.hidden{
    display:none;
}

.social-n-search{
    display:flex;
    border:2px dotted salmon;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-right:5rem;
    margin-top:3rem;
}
#search{
    border-left:1px solid lightgray;
    padding-left:20px;
}
.topNav{
    display:flex;
    justify-content: space-between;
    width:100vw;
    border:1px solid hotpink
}
.Hamburger{
    align-self:left;
    text-align:left;
    position:absolute;
    height:1.5rem;
    cursor:pointer;
    display:inline-block;
    left:5rem;
    top:5rem;

}
.height{
    height:100%;
    width:auto;
    position: relative;
    
    /* border:2px solid slateblue */
}
