.TopNav-Wrapper{
    height:8rem;
    /* border:1px solid red; */
    position: relative;  
    margin-bottom:50px;
}
.divWrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ' . middle right';
    width:100%;
    height:auto;
    position:fixed;
    /* border:2px solid yellowgreen;     */
}
.middle{
    grid-area: middle;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.img-wrapper{
    margin-top:1.5rem;
    height:5rem;
}
.signature{
    height:100%;
    width:auto;
}
.right{
    grid-area:right;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    height:100%;
}
.phrase{
    font-family: 'Lora';
    letter-spacing: .25rem;
    /* position:relative; */
}
